ul li::before {
  content: '-';
  background-color: rgb(189, 210, 224);
  color: white;
  display: block;
}

p {
  font-size: 22px;
}

::placeholder {
  color: rgb(0, 53, 53);
}

/* p::first-letter {
  font-size: 150px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

p::first-line {
  background: rgb(13, 145, 79);
  }

  p::selection {
    background: black;
    color: white;
  } */

