* {
  margin: 0;
  padding: 0;
}

.OI {
  transition: all 1s ease-in-out;
}

.OI:hover{
  background: green;
}

input:checked + p {
  background: red;
}

input:not(:checked) + p {
  background: yellow;
}

/* .pai h1+p {
  color: red;
}
/* 
.pai h1~p {
  color: red;
} */

p:not(.meio) {
  color: blue;
}


/* [meu-atributo="valor"] {
  color:blue;
}

[checked] {
  width: 50px;
  height: 50px;
} */ 