<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modelo</title>
</head>
<%- include('./includes/head.ejs')%>
<body>

  <section class="container">


    <h1>
      Lorem ipsum
      <%= titulo %> 
      <%- titulo %>
     


    <form action="/" method="post">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <body>
        <button>Submit</button>
      </body>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>